@using DungeonCodex.Data.Model;
@using Microsoft.AspNetCore.Authentication;
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<ApplicationUser> SignInManager;
@inject UserManager<ApplicationUser> UserManager;


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Dungeon Manager</title>
    <link href="~/lib/bootstrap-theme/quartz/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DDScheduler.styles.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/0b771d8073.js" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Head", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">DungeonCodex</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>

                <!--Sign in area-->
                <div style="text-align:right;">
                    @if (User?.Identity?.IsAuthenticated ?? false)
                    {
                        @*<p>
                            @foreach (var claim in Context.User.Claims)
                            {
                                <div><code>@claim.Type</code>: <strong>@claim.Value</strong></div>
                            }
                        </p>
*@
                        <p style="color:black">
                            Signed in as <strong>@User.Identity.Name</strong>
                        </p>
                        <a class="btn btn-primary btn-sm" id="signoutbtn" asp-area="" asp-controller="Account" asp-action="SignOutCurrentUser">Sign Out</a>
                    }
                    else
                    {
                        <a class="btn btn-primary btn-sm" asp-route-returnUrl="@Context.Request.Path.Value" asp-area="" asp-controller="Account" asp-action="DiscordLogin">Sign In <i class="fa-brands fa-discord"></i></a>
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - DungeonCodex - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>